@media screen and (max-width: 480px) {
    :root {
        --page-margin: 20px;
    }

    .case-container {
        justify-content: center;
    }

    .chart-toprow {
        flex-direction: column;
        gap: 20px;
    }

    .atest {
        display: none;
    }

    label {
        display: inline-block;
    }
}
