@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

:root {
  --page-margin: 50px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 var(--page-margin);
  font-family: "Lato Regular";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

header div {
  width: 30px;
  height: 30px;
}

header div svg {
  fill: #418fde;
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: calc(100vw - var(--page-margin) * 2);
  text-align: center;
  list-style: none;
  padding: 0;
  gap: 1px;
  cursor: pointer;
}

nav li {
  font-size: 20px;
  color: gray;
  padding: 10px;
  border-bottom: 3px solid #e4e7ec;
}

.page-selected {
  border-bottom: 3px solid #2e86de;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.global-container {
  margin-top: 10px;
}

.chart-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 590px;
  width: calc(100vw - calc(var(--page-margin) * 2));
  padding: 20px;
  background-color: #f0f1f5;
  border: 2px solid #e4e7ec;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  gap: 20px;
}

.chart-section hr {
  width: 100%;
}

.chart-toprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.chart-toprow h3 {
  margin: 0;
}

.chart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;
  border: none;
  padding: 5px 5px;
  height: 30px;
  width: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  font-family: "Lato Regular";
  font-size: 12px;
}

button:hover {
  background-color: #e4e7ec;
}

.chart-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 30px;
  background-color: white;
  border: 1px silver solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.chart-button div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.chart-button div:nth-child(1) div {
  height: 20px;
  width: 20px;
}

.chart-button div:nth-child(1) div svg {
  height: 100%;
  width: 100%;
  fill: gray;
}

.chart-button div:nth-child(1) span {
  font-size: 10px;
  text-transform: uppercase;
}

.chart-button div:nth-child(2) {
  position: absolute;
  left: 0px;
  bottom: -90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px silver solid;
  background-color: silver;
  gap: 1px;
  width: 110px;
}

.chart-container {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.chart-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 2500px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

.case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f1f5;
  border: 2px solid #e4e7ec;
  border-radius: 10px;
  padding: 5px;
  height: 55px;
  width: 180px;
  gap: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.case div:nth-child(1) {
  font-size: 13px;
}

.case div:nth-child(2) {
  font-size: 18px;
}

.daily .case div:nth-child(1) {
  color: #d60000;
}

.total .case div:nth-child(1) {
  color: #0f775d;
}

.case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.canvas-smaller {
  width: 100% !important;
}

.tools-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.chart-container hr {
  border-top: none;
  width: 90%;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.buttons button {
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  height: 50px;
}

@media screen and (max-width: 480px) {
  :root {
    --page-margin: 20px;
  }
  .case-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chart-toprow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .atest {
    display: none;
  }
  label {
    display: inline-block;
  }
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 80px;
  width: 100%;
  background-color: #f0f1f5;
}

.search-container input {
  width: 250px;
  height: 25px;
  text-align: center;
}

.country-chart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - var(--page-margin)*2);
  margin-top: 50px;
  gap: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */